{
  "env": {
    "browser": true,
    "jest": true
  },
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": ["react-hooks"],
  "rules": {
    "arrow-parens": [
      "error",
      "as-needed",
      {
        "requireForBlockBody": true
      }
    ],
    "camelcase": "off",
    "class-methods-use-this": "off",
    "import/order": "off",
    "jsx-a11y/label-has-associated-control": [
      "error",
      {
        "controlComponents": ["input"],
        "labelAttributes": ["htmlFor"],
        "labelComponents": ["label"]
      }
    ],
    "jsx-a11y/label-has-for": "off",
    "linebreak-style": "off",
    "no-console": [
      "error",
      {
        "allow": ["warn", "error"]
      }
    ],
    "no-empty": "off",
    "no-nested-ternary": "off",
    "no-underscore-dangle": [
      "error",
      {
        "allow": ["__WHITEBRAND__"]
      }
    ],
    "no-unused-expressions": [
      "error",
      {
        "allowShortCircuit": true
      }
    ],
    "react-hooks/exhaustive-deps": "error",
    "react-hooks/rules-of-hooks": "error",
    "react/destructuring-assignment": "off",
    "react/forbid-prop-types": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-no-duplicate-props": [
      "error",
      {
        "ignoreCase": false
      }
    ],
    "react/jsx-props-no-spreading": "off",
    "react/require-default-props": "off",
    "react/sort-comp": "off",
    "react/state-in-constructor": "off",
    "react/static-property-placement": ["error", "static public field"]
  }
}
